<a href="/dashboard">&larr; Back</a>
<div class="admin-title">
  <h2>View / Edit Post</h2>

  <form action="/delete-post/<%= data.slug %>?_method=DELETE" method="POST">
    <input type="submit" value="Delete" class="btn-delete btn">
  </form>
</div>

<form action="/edit-post/<%= data.slug %>?_method=PUT" method="POST" enctype="multipart/form-data" onsubmit="return validateForm();"> <!-- Use slug here -->
  
  <label for="title"><b>Title</b></label>
  <input type="text" placeholder="Post Title" name="title" value="<%= data.title %>" required>

  <label for="author"><b>Author</b></label>
  <input type="text" placeholder="Author Name" name="author" value="<%= data.author %>" required>

  <label for="headerImage"><b>Header Image</b></label>
  <input type="file" name="headerImage">

  <label for="Image Alt"><b>Title</b></label>
  <input type="text" placeholder="Image Alt Tag" name="imageAlt" required>

  <% if (data.headerImage) { %>
    <img src="<%= data.headerImage %>" alt="Header Image" style="max-width: 200px; height: auto;">
  <% } %>

  <label for="body"><b>Content</b></label>
  <textarea name="body" id="body"><%= data.body %></textarea> <!-- TinyMCE will replace this -->

  <label for="categories"><b>Categories</b></label>

    
  <label for="metaTitle"><b>Meta Title</b></label>
  <input type="text" name="metaTitle" value="<%= data.metaTitle %>" required>

  <label for="metaDescription"><b>Meta Description</b></label>
  <textarea name="metaDescription" required><%= data.metaDescription %></textarea>

  <label for="keywords"><b>Keywords</b></label>
  <input type="text" name="keywords" value="<%= data.keywords.join(', ') %>">

  <label for="ogImage"><b>Open Graph Image</b></label>
  <input type="file" name="ogImage">
  <% if (data.ogImage) { %>
    <img src="<%= data.ogImage %>" alt="OG Image" style="max-width: 200px; height: auto;">
  <% } %>


  <!-- Promotions (checkbox group) -->
  <p><b>Choose Promotions:</b></p>
  <div>
    <label><input type="checkbox" name="categories" value="UFC" <%=  data.leagues.includes(/UFC/) ? 'checked' : '' %> /> UFC</label>
    <label><input type="checkbox" name="categories" value="Bellator" <%= data.leagues.includes('Bellator') ? 'checked' : '' %> /> Bellator</label>
    <label><input type="checkbox" name="categories" value="ONE Championship" <%= data.leagues.includes('ONE Championship') ? 'checked' : '' %> /> ONE Championship</label>
    <label><input type="checkbox" name="categories" value="PFL" <%= data.leagues.includes('PFL') ? 'checked' : '' %> /> PFL</label>
  </div>
  <br><br>
  <!-- Combat Sports (checkbox group) -->
  <p><b>Choose Combat Sports:</b></p>
  <div>
    <label><input type="checkbox" name="categories" value="MMA" <%= data.sports.includes('MMA') ? 'checked' : '' %> /> MMA</label>
    <label><input type="checkbox" name="categories" value="Boxing" <%= data.sports.includes('Boxing') ? 'checked' : '' %> /> Boxing</label>
    <label><input type="checkbox" name="categories" value="Kickboxing" <%= data.sports.includes('Kickboxing') ? 'checked' : '' %> /> Kickboxing</label>
    <label><input type="checkbox" name="categories" value="Muay Thai" <%= data.sports.includes('Muay Thai') ? 'checked' : '' %> /> Muay Thai</label>
    <label><input type="checkbox" name="categories" value="Wrestling" <%= data.sports.includes('Wrestling') ? 'checked' : '' %> /> Wrestling</label>
    <label><input type="checkbox" name="categories" value="Jiu-Jitsu" <%= data.sports.includes('Jiu-Jitsu') ? 'checked' : '' %> /> Jiu-Jitsu</label>
  </div>
  <br><br>
  <label>
    <input type="checkbox" name="isFeatured" value="true" <% if (data.isFeatured) { %> checked <% } %> >
    Feature this post
  </label>
  <br><br>
  <input type="submit" value="Update" class="btn">

</form>
